---

---

<img src="/images/tin-foil-me.png" alt="David" class="h-12" />
<nav>
  <ul class="flex h-14 justify-center gap-4 text-white">
    <li class="content-center px-1 hover:bg-black/30 sm:px-4">
      <a href="/">Home</a>
    </li>
    <li class="content-center px-1 hover:bg-black/30 sm:px-4">
      <a href="/about/">About</a>
    </li>
    <li class="content-center px-1 hover:bg-black/30 sm:px-4">
      <a href="/blog/">Blog</a>
    </li>
    <li class="content-center px-1 hover:bg-black/30 sm:px-4">
      <a href="/blog/">Contact</a>
    </li>
  </ul>
</nav>
