---

---

<div
  class="sticky top-0 z-10 mx-auto flex h-9 w-full items-center justify-center bg-[#6699cc] shadow-md backdrop-blur-lg"
>
  <nav class="flex w-full max-w-6xl justify-start px-2">
    <ul class="flex justify-center gap-2 text-white">
      <li>
        <a href="#top" class="hover:underline">Home</a>
      </li>
      <li>
        <span class="mx-2 text-[#0000ff]">|</span>
        <a href="#about-me-section" class="hover:underline">About</a>
      </li>
      <li class="content-center">
        <span class="mx-2 text-[#0000ff]">|</span>
        <a href="#" class="hover:underline">Blog</a>
      </li>
      <li>
        <span class="mx-2 text-[#0000ff]">|</span>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </nav>
</div>
