---

---

<nav>
  <ul class="flex h-8 justify-center gap-2 text-white">
    <li
      class="content-center after:text-[blue] after:content-['|'] hover:bg-black/30"
    >
      <a href="/" class="">Home</a>
    </li>
    <li
      class="content-center after:text-[blue] after:content-['|'] hover:bg-black/30"
    >
      <a href="/about/">About</a>
    </li>
    <li
      class="content-center after:text-[blue] after:content-['|'] hover:bg-black/30"
    >
      <a href="/blog/">Blog</a>
    </li>
    <li class="content-center hover:bg-black/30">
      <a href="/blog/">Contact</a>
    </li>
  </ul>
</nav>
