---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Credits" description="Credits">
    <h1>Credits</h1>
    <p>
        <strong>https://csshero.org/mesher/</strong> - Used for the mesh gradients
    </p>
    <p>
        <strong>https://realfavicongenerator.net/</strong> - Used for the favicon
    </p>
</BaseLayout>
