---
import "../styles/about.css";
---

<section id="about" class="about-section">
  <div class="about-header">
    <h2>About Me</h2>
  </div>

  <div class="about-container">
    <div class="terminal-window">
      <div class="terminal-header">
        <div class="terminal-buttons">
          <div class="terminal-btn close"></div>
          <div class="terminal-btn minimize"></div>
          <div class="terminal-btn maximize"></div>
        </div>
        <div class="terminal-title">about-david.js</div>
      </div>

      <div class="terminal-content">
        <div class="code-line">
          <span class="line-number">1</span>
          <span class="code-content">
            <span class="code-comment">// Information about the dude</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">2</span>
          <span class="code-content">
            <span class="code-const">const</span>
            <span class="code-variable">david</span>
            <span class="code-punctuation">=</span>
            <span class="code-punctuation">{"{"}</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">3</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-property">name</span><span
              class="code-punctuation">:</span
            >
            <span class="code-string">"David Norman"</span><span
              class="code-punctuation">,</span
            >
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">4</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-property">role</span><span
              class="code-punctuation">:</span
            >
            <span class="code-string"
              >"Senior Front End Developer & UX Designer"</span
            ><span class="code-punctuation">,</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">5</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-property">location</span><span
              class="code-punctuation">:</span
            >
            <span class="code-string">"Costa del Yorkshire"</span><span
              class="code-punctuation">,</span
            >
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">6</span>
          <span class="code-content"></span>
        </div>
        <div class="code-line">
          <span class="line-number">7</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-comment">// What I do</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">8</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-property">passion</span><span
              class="code-punctuation">:</span
            >
            <span class="code-string"
              >"Crafting beautiful, functional, and accessible web experiences"</span
            ><span class="code-punctuation">,</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">9</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-property">skills</span><span
              class="code-punctuation">:</span
            >
            <span class="code-punctuation">[</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">10</span>
          <span class="code-content">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-string">"React"</span
            ><span class="code-punctuation">,</span>
            <span class="code-string">"TypeScript"</span><span
              class="code-punctuation">,</span
            >
            <span class="code-string">"Astro"</span><span
              class="code-punctuation">,</span
            >
            <span class="code-string">"CSS/Sass"</span><span
              class="code-punctuation">,</span
            >
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">11</span>
          <span class="code-content">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-string"
              >"Design Systems"</span
            ><span class="code-punctuation">,</span>
            <span class="code-string">"Figma"</span><span
              class="code-punctuation">,</span
            >
            <span class="code-string">"AI"</span><span class="code-punctuation"
              >,</span
            >
            <span class="code-string">"Dad duties"</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">12</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-punctuation">],</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">13</span>
          <span class="code-content"></span>
        </div>
        <div class="code-line">
          <span class="line-number">14</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-comment">// Current status</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">15</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-property">status</span><span
              class="code-punctuation">:</span
            >
            <span class="code-string">"Procrastonating. Probably."</span><span
              class="code-punctuation">,</span
            >
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">16</span>
        </div>
        <div class="code-line">
          <span class="code-content"></span>
        </div>
        <div class="code-line">
          <span class="line-number">17</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-comment">// Other</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">18</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-property">interests</span><span
              class="code-punctuation">:</span
            >
            <span class="code-punctuation">[</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">19</span>
          <span class="code-content">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-string"
              >"3D Printing"</span
            ><span class="code-punctuation">,</span>
            <span class="code-string">"Mechanical keyboards"</span><span
              class="code-punctuation">,</span
            >
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">20</span>
          <span class="code-content">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-string"
              >"Home automation"</span
            ><span class="code-punctuation">,</span>
            <span class="code-string">"Sim racing"</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">21</span>
          <span class="code-content">
            &nbsp;&nbsp;<span class="code-punctuation">]</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">22</span>
          <span class="code-content">
            <span class="code-punctuation">{"}"};</span>
          </span>
        </div>
        <div class="code-line">
          <span class="line-number">23</span>
          <span class="code-content"></span>
        </div>
        <div class="code-line">
          <span class="line-number">24</span>
          <span class="code-content">
            <span class="code-keyword">export</span>
            <span class="code-keyword">default</span>
            <span class="code-variable">david</span><span
              class="code-punctuation">;</span
            ><span class="cursor"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
