---
export interface Props {
  title: string;
  body: string;
  href: string;
}
---

<section class="flex h-dvh w-dvw flex-col items-center justify-center">
  <div class="geocities-container">
    <p>Then we move to Geocities.</p>
  </div>
</section>

<style></style>
