---
---
<div class="fixed top-0 flex  items-center justify-between mx-auto w-full bg-black/50 backdrop-blur-lg px-4">
  <img src="/images/tin-foil-me.png" alt="David" class="h-12" />
  <nav>
    <ul class="flex h-14 justify-center gap-4 text-white">
      <li class="px-1 content-center sm:px-4 hover:bg-black/30"><a href="/">Home</a></li>
      <li class="px-1 content-center sm:px-4 hover:bg-black/30"><a href="/about/">About</a></li>
      <li class="px-1 content-center sm:px-4 hover:bg-black/30"><a href="/blog/">Blog</a></li>
      <li class="px-1 content-center sm:px-4 hover:bg-black/30"><a href="/blog/">Contact</a></li>
    </ul>
  </nav>
</div>
  